<div class="container">
  <h2>Apartment Manager</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Edit Apartment</th>
        <th>Description</th>
        <th>Rent</th>
        <th>Available</th>

      </tr>
    </thead>
    <tbody>   
        <% @apartments.each do |a| %>
          <tr>
            <td> <%= link_to(a.apartment_number, edit_apartment_path(a)) %> </td>
            <td><%= a.description%></td>
            <td><%= a.rent%></td>
            <td><%= display_date(a.date_available)%></td>
          </tr>
        <% end %>   
    </tbody>
  </table>
</div>