<ul class="nav">
  <li>
    <%= link_to "Package Pick-Up", root_path, :class => 'brand' %>
  </li>
</ul>
<div class='nav_item'>
  <%= link_to 'Resident', residents_path, class: 'btn btn-success btn-large' %>
</div>
<div class='nav_item'>
  <%= link_to 'Apartments', apartments_path, class: 'btn btn-primary btn-large' %>
</div>
<div class='nav_item'>
  <%= link_to 'Add Resident', new_resident_path, class: 'btn btn-success btn-large' %>
</div>
<br/>


